@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap&Lato&display=swap');

.balance {
  height: 100%;
  width: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.balance > .title {
  color: white;
}

.balance > .amount {
  color: #d52859;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
}
