#root {
  height: inherit;
}

.MuiButton-label {
  color: white;
}

.home {
  height: inherit;
  padding: 40px;
  box-sizing: border-box;
}

.home > .block-top {
  height: 20%;
  min-height: 100px;
}

.home > .block-center {
  height: 60%;
  min-height: 330px;
}

.home > .block-bottom {
  height: 20%;
  min-height: 120px;
  min-height: 100px;
}

.block-top {
  display: flex;
}

.block-top > .align-btn-right {
  margin-left: auto;
}

.block-center,
.block-bottom {
  display: flex;
  justify-content: center;
}
