/* Media Queries */

@media screen and (max-width: 800px) {
  .account > .account-container {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
  .account > .account-container {
    grid-column-gap: 6%;
    grid-template-columns: 47% 47%;
  }
}

@media screen and (min-width: 1500px) {
  .account > .account-container {
    grid-column-gap: 5%;
    grid-template-columns: 30% 30% 30%;
  }
}

/* Account Component */
.account-component {
  display: flex;
  justify-content: center;
}

.account-component > .account {
  width: 100%;
  background-color: #d52859;
  padding-bottom: 60px;
}

.account > .title {
  color: #090808;
  text-align: center;
}

.account > .account-container {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-row-gap: 50px;
}

.account-container > .account-item {
  height: 170px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #535252;
  background-color: #090808;
}

.account-item:hover {
  background-color: #000000b3;
  cursor: pointer;
}

.account-item > .account-title,
.account-item > .account-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-item > .account-title {
  height: 30%;
  background-color: #d52859;
  color: #090808;
}

.account-item > .account-content {
  height: 70%;
}

.account-content > .account-details,
.account-content > .account-nav {
  height: 100%;
}
.account-content > .account-details,
.account-content > .account-nav {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 10px;
}

.account-content > .account-details {
  width: -moz-available;
  height: 80%;
  font-size: 20px;
}

.account-content > .account-nav {
  width: 50px;
  height: 80%;
}

.account-nav > .account-update,
.account-nav > .account-delete {
  background-color: #d52859;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-nav > .account-update > .MuiSvgIcon-root,
.account-nav > .account-delete > .MuiSvgIcon-root {
  color: black;
}

.account-details > .account-description,
.account-details > .account-balance {
  color: white;
  background-color: #222121;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
